<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}
    文章详情
{% endblock title %}
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1 class="col-12 mt-4 mb-4"> {{ article.title }}</h1>
                <div class="col-12 alert alert-success">
                    <div>
                        作者：{{ article.author }}
                        {% if user == article.author %}
                            <a href="#" onclick="confirm_safe_delete()"> 删除文章</a>
                            <a href="{% url "article:update" article.pk %}">编辑文章</a>
                        {% endif %}
                    </div>
                    <div>
                        浏览：{{ article.total_views }}
                    </div>

                </div>
                <div>
                    {% if article.column %}
                        <button type="button"
                                class="btn btn-sm mb-2
                        {% if article.column.title == 'Django' %}
                            btn-success
                        {% elif article.column.title == 'Python' %}
                            btn-danger
                        {% elif article.column.title == 'Flutter' %}
                            btn-warning
                        {% endif %}
                    ">
                            {{ article.column }}
                        </button>
                    {% endif %}
                </div>
                <div class="row">
                    {% if article.avatar %}
                        <div class="col-3">
                            <img src="{{ article.avatar.url }}"
                                 alt="avatar"
                                 style="max-width:100%; border-radius: 20px"
                            >
                        </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    <p>{{ article.body | safe }}</p>
                </div>
                <hr/>
                {% if user.is_authenticated %}
                    <div>
                        <form
                                action="{% url 'comment:post_comment' article.id %}"
                                method="POST"
                        >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="body">
                                    <strong>
                                        我也要发言：
                                    </strong>
                                </label>
                                <!-- 将之前的<textarea>替换掉 -->
                                <!-- <textarea type="text"
                                               class="form-control"
                                               id="body"
                                               name="body"
                                               rows="2"></textarea>  -->
                                <div class="col-12">
                                    {{ comment_form.media }}
                                    {{ comment_form.body }}
                                </div>
                            </div>
                            <!-- 提交按钮 -->
                            <button type="submit" class="btn btn-primary ">发送</button>
                        </form>
                    </div>
                    <br>
                {% else %}
                    <br>
                    <h5 class="row justify-content-center">
                        请<a href="{% url 'userprofile:login' %}">登录</a>后回复
                    </h5>
                    <br>
                {% endif %}
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <hr>
                        <p>
                            <strong style="color: pink">
                                {{ comment.user }}
                            </strong> 于
                            <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
                        </p>
                        <pre style="font-family: inherit; font-size: 1em;"> {{ comment.body|safe }}</pre>
                    {% endfor %}
                </div>
            </div>
            <!-- 新增的目录 -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar__inner">
                    <h4><strong>目录</strong></h4>
                    <hr>
                    <div>
                        {{ toc|safe }}
                    </div>
                </div>
            </div>

            <!-- 新增一个隐藏的表单 -->
            <form
                    style="display:none;"
                    id="safe_delete"
                    action="{% url 'article:safe-delete' article.pk %}"
                    method="POST"
            >
                {% csrf_token %}
                <button type="submit">发送</button>
            </form>

        </div>
    </div>
    <!-- 粘性侧边栏样式 -->
    <style>
        .sidebar {
            will-change: min-height;
        }

        .sidebar__inner {
            transform: translate(0, 0);
            transform: translate3d(0, 0, 0);
            will-change: position, transform;
        }
    </style>
    {% block script %}
        <!-- 引入粘性侧边栏 -->
        <script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
        <script type="text/javascript">
            $('#sidebar').stickySidebar({
                topSpacing: 20,
                bottomSpacing: 20,
            });
        </script>
        <script>
            function confirm_delete() {
                layer.open({
                    title: '确认删除',
                    content: "确认删除这篇文章？",
                    yes: function (index, layero) {
                        location.href = "{% url "article:delete" article.id %}"
                    }
                })
            }

            function confirm_safe_delete() {
                layer.open({
                    title: '确认删除',
                    content: "确认删除这篇文章？",
                    yes: function (index, layero) {
                        $('form#safe_delete button').click();
                        layer.close(index);
                    }
                })
            }

            $(".django-ckeditor-widget").removeAttr('style');
        </script>
    {% endblock script %}
{% endblock content %}