{% extends "base.html" %} {% load staticfiles %}
{% load bootstrap4 %}
{% block title %} 登录 {% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <form method="post" action="." class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">提交</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}